:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: rgb(1 31 81);
  --light-surface-tint: rgb(71 93 146);
  --light-on-primary: rgb(255 255 255);
  --light-primary-container: rgb(42 65 116);
  --light-on-primary-container: rgb(255 255 255);
  --light-secondary: rgb(0 40 35);
  --light-on-secondary: rgb(255 255 255);
  --light-secondary-container: rgb(0 76 68);
  --light-on-secondary-container: rgb(255 255 255);
  --light-tertiary: rgb(46 32 0);
  --light-on-tertiary: rgb(255 255 255);
  --light-tertiary-container: rgb(86 63 0);
  --light-on-tertiary-container: rgb(255 255 255);
  --light-error: rgb(78 0 2);
  --light-on-error: rgb(255 255 255);
  --light-error-container: rgb(140 0 9);
  --light-on-error-container: rgb(255 255 255);
  --light-background: rgb(250 248 255);
  --light-on-background: rgb(26 27 32);
  --light-surface: rgb(250 248 255);
  --light-on-surface: rgb(0 0 0);
  --light-surface-variant: rgb(225 226 236);
  --light-on-surface-variant: rgb(33 36 43);
  --light-outline: rgb(64 67 75);
  --light-outline-variant: rgb(64 67 75);
  --light-shadow: rgb(0 0 0);
  --light-scrim: rgb(0 0 0);
  --light-inverse-surface: rgb(47 48 54);
  --light-inverse-on-surface: rgb(255 255 255);
  --light-inverse-primary: rgb(231 235 255);
  --light-primary-fixed: rgb(42 65 116);
  --light-on-primary-fixed: rgb(255 255 255);
  --light-primary-fixed-dim: rgb(16 43 92);
  --light-on-primary-fixed-variant: rgb(255 255 255);
  --light-secondary-fixed: rgb(0 76 68);
  --light-on-secondary-fixed: rgb(255 255 255);
  --light-secondary-fixed-dim: rgb(0 51 45);
  --light-on-secondary-fixed-variant: rgb(255 255 255);
  --light-tertiary-fixed: rgb(86 63 0);
  --light-on-tertiary-fixed: rgb(255 255 255);
  --light-tertiary-fixed-dim: rgb(59 42 0);
  --light-on-tertiary-fixed-variant: rgb(255 255 255);
  --light-surface-dim: rgb(218 217 224);
  --light-surface-bright: rgb(250 248 255);
  --light-surface-container-lowest: rgb(255 255 255);
  --light-surface-container-low: rgb(244 243 250);
  --light-surface-container: rgb(238 237 244);
  --light-surface-container-high: rgb(232 231 239);
  --light-surface-container-highest: rgb(226 226 233);

  --dark-primary: rgb(252 250 255);
  --dark-surface-tint: rgb(176 198 255);
  --dark-on-primary: rgb(0 0 0);
  --dark-primary-container: rgb(182 202 255);
  --dark-on-primary-container: rgb(0 0 0);
  --dark-secondary: rgb(235 255 250);
  --dark-on-secondary: rgb(0 0 0);
  --dark-secondary-container: rgb(135 218 203);
  --dark-on-secondary-container: rgb(0 0 0);
  --dark-tertiary: rgb(255 250 247);
  --dark-on-tertiary: rgb(0 0 0);
  --dark-tertiary-container: rgb(237 198 112);
  --dark-on-tertiary-container: rgb(0 0 0);
  --dark-error: rgb(255 249 249);
  --dark-on-error: rgb(0 0 0);
  --dark-error-container: rgb(255 186 177);
  --dark-on-error-container: rgb(0 0 0);
  --dark-background: rgb(18 19 24);
  --dark-on-background: rgb(226 226 233);
  --dark-surface: rgb(18 19 24);
  --dark-on-surface: rgb(255 255 255);
  --dark-surface-variant: rgb(68 70 79);
  --dark-on-surface-variant: #c5c6d0;
  --dark-outline: rgb(201 202 212);
  --dark-outline-variant: rgb(201 202 212);
  --dark-shadow: rgb(0 0 0);
  --dark-scrim: rgb(0 0 0);
  --dark-inverse-surface: rgb(226 226 233);
  --dark-inverse-on-surface: rgb(0 0 0);
  --dark-inverse-primary: rgb(12 40 89);
  --dark-primary-fixed: rgb(223 230 255);
  --dark-on-primary-fixed: rgb(0 0 0);
  --dark-primary-fixed-dim: rgb(182 202 255);
  --dark-on-primary-fixed-variant: rgb(0 20 58);
  --dark-secondary-fixed: rgb(163 246 231);
  --dark-on-secondary-fixed: rgb(0 0 0);
  --dark-secondary-fixed-dim: rgb(135 218 203);
  --dark-on-secondary-fixed-variant: rgb(0 26 23);
  --dark-tertiary-fixed: rgb(255 228 175);
  --dark-on-tertiary-fixed: rgb(0 0 0);
  --dark-tertiary-fixed-dim: rgb(237 198 112);
  --dark-on-tertiary-fixed-variant: rgb(31 21 0);
  --dark-surface-dim: rgb(18 19 24);
  --dark-surface-bright: rgb(56 57 63);
  --dark-surface-container-lowest: #000f30;
  --dark-surface-container-low: #001945;
  --dark-surface-container: #03275d;
  --dark-surface-container-high: #022b69;
  --dark-surface-container-highest: #03327a;
}
